<h1 align="center">Добро пожаловать в Приложение игр!</h1>

{{#if isAuth}}
<h2 align="center"><a href="/auth/logout">Выйти</a></h2>
{{else}}
<h2 align="center"><a href="/auth/login">Войти</a></h2>
{{/if}}